## Web-Scrapping Project-Merging data

In [31]:
# Install the required library
!pip install -U -q requests

WARNING: You are using pip version 21.1.2; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\walaz\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [22]:
# Load the required library
import warnings
warnings.filterwarnings('ignore')
import numpy as np 
import pandas as pd 
import re

In [23]:
# Read csv
fao = pd.read_csv('search-07-03-21-041359.csv')
ihsn = pd.read_csv('IHSN_SurveyData.csv')
ilo = pd.read_csv('search-07-03-21-021534.csv')
un_population = pd.read_csv('UN_CollectedDataTypes_202162184337.csv')

In [24]:
# FAO
fao.head()
fao['source'] = 'FAO'
fao_new = fao[['nation', 'title', 'year_start', 'year_end', 'source']]
fao_new['year_start'] = fao_new['year_start'].replace(0, np.nan)
fao_new['year_end'] = fao_new['year_end'].replace(0, np.nan)
fao_new.head()
fao_new.shape

(957, 5)

In [25]:
# IHSN
ihsn['source']='IHSN'
ihsn_new = ihsn[['nation', 'title', 'year_start', 'year_end', 'source']]
ihsn_new['year_start'] = ihsn_new['year_start'].replace(0, np.nan)
ihsn_new['year_end'] = ihsn_new['year_end'].replace(0, np.nan)
ihsn_new.head()
ihsn_new.shape

(8551, 5)

In [26]:
# ILO
ilo['source']='ILO'
ilo_new = ilo[['nation', 'title', 'year_start', 'year_end', 'source']]
ilo_new['year_start'] = ilo_new['year_start'].replace(0, np.nan)
ilo_new['year_end'] = ilo_new['year_end'].replace(0, np.nan)
ilo_new.head()

,nation,title,year_start,year_end,source
0,Afghanistan,Living Condition Survey 2017,2017,2017,ILO
1,Afghanistan,Living Condition Survey 2014,2014,2014,ILO
2,Afghanistan,Living Condition Survey 2012,2012,2012,ILO
3,Afghanistan,National Risk and Vulnerability Assessment 201...,2012,2012,ILO
4,Afghanistan,Living Condition Survey 2008,2008,2008,ILO

In [27]:
# UN POPULATION
un_population['source']='UN Population'

In [28]:
# Extract start and end year
un_population['year'] = un_population['Catalog'].str.extract("(\d*\-*\d+)", expand=True)
un_population['start_year'] = un_population['year'].str[:4]
un_population['end_year'] = un_population['year'].str.extract('\-(\d{4}\s*$)', expand=True)
un_population['end_year'].fillna(un_population['start_year'], inplace=True)

# Rename columns in UN Population
un_new = un_population[['Location', 'Catalog', 'start_year', 'end_year', 'source']]
un_new = un_new.rename(columns={'Location': 'nation', 'Catalog': 'title', 'start_year':'year_start', 'end_year':'year_end', 'source':'source'})
un_new.head()

,nation,title,year_start,year_end,source
0,NaN,NaN,NaN,NaN,UN Population
1,NaN,NaN,NaN,NaN,UN Population
2,Afghanistan,Afghanistan 1972-1974 National Demographic and...,1972,1974,UN Population
3,Afghanistan,Afghanistan 1979 Census,1979,1979,UN Population
4,Afghanistan,Afghanistan 1997 Multiple Indicator Cluster Su...,1997,1997,UN Population

In [29]:
# Merge data sets
merge = pd.concat([fao_new, ihsn_new, ilo_new, un_new])
merge.head(20)

,nation,title,year_start,year_end,source
0,Ecuador,Annual Agricultural Area and Production Survey...,2010.0,2010.0,FAO
1,RWANDA,Comprehensive Food Security and Vulnerability ...,2012.0,2012.0,FAO
2,Rwanda,"Impact, Maintenance, and Sustainability of Irr...",2015.0,2018.0,FAO
3,Nigeria,General Household Survey-Panel Wave 3 (Post Ha...,2016.0,2016.0,FAO
4,Nigeria,Food Insecurity in Conflict Affected Regions i...,2017.0,2017.0,FAO
5,Nigeria,General Household Survey-Panel 2010-2011 (Post...,2011.0,2011.0,FAO
6,Rwanda,Comprehensive Food Security and Vulnerability ...,2006.0,2006.0,FAO
7,Nigeria,General Household Survey-Panel Wave 3 (Post Pl...,2015.0,2015.0,FAO
8,Senegal,Annual Agricultural Survey 2017-2018,2017.0,2017.0,FAO
9,Indonesia,Agricultural Census 2013,2013.0,2013.0,FAO
10,Malawi,Integrated Household Panel Survey 2010-2013-20...,2010.0,2016.0,FAO
11,Rwanda,Rwanda Seasonal Agriculture Survey 2017,2016.0,2017.0,FAO
12,Ecuador,Annual Agricultural Area and Production Survey...,2018.0,2018.0,FAO
13,United Republic of Tanzania,Agriculture Sample Census Survey 2007-2008,2009.0,2009.0,FAO
14,United Republic of Tanzania,Agriculture Sample Census Survey 2002-2003,2004.0,2004.0,FAO
15,Ecuador,Annual Agricultural Area and Production Survey...,NaN,NaN,FAO
16,RWANDA,Comprehensive Food Security and Vulnerability ...,2015.0,2015.0,FAO
17,Nigeria,Private Farmer Livestock-Poultry 2006,2007.0,2007.0,FAO
18,RWANDA,Comprehensive Food Security and Vulnerability ...,2009.0,2009.0,FAO
19,Namibia,Namibia Census of Agriculture 2013/2014 - Comm...,2014.0,2014.0,FAO

In [30]:
# ouput csv
merge.to_csv('merge_data.csv',index=False)